<h1>Delete Game</h1>
<section>
    <div>
        <form action="/delete/{{game._id}}" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" value="{{ game.name }}" name="name" disabled />
            <label for="dlc">DLC</label>
            <input type="text" id="dlc" value="{{ game.dlc }}" name="dlc" disabled />
            <label for="price">Price</label>
            <input type="number" min="0" step="any" id="price" value="{{ game.price }}" name="price" disabled />
            <label for="platform">Platform</label>
            <input type="text" id="platform" value="{{ game.platform }}" name="platform" disabled />

            <button class="button" type="submit">Delete</button>
            <button class="button cancel" type="button" onclick="location.href='/'">Cancel</button>
        </form>
    </div>
</section>